<div class="card">
  <ul>
    {{#each model.books as |book|}}
      <li>
        <div class="row">
          <div>
            Book #{{book.id}}
          </div>
          <div>
            <h3>Title {{book.title}}</h3>
            <p>{{book.short_description}}</p>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
