<h1>Users</h1>
<div class="card">
  <ul class="list-group">
    {{#each @model.users as |user|}}
      <li class="list-group-item">
<div class="row">
  <div class="col-xs-4 col-md-1 ">
    <Avatar @image={{user.avatar}}/>
          </div>
          <div class="col-xs-8 col-md-8">

            <p>User #{{user.id}}</p>

            <h3>{{user.username}}</h3>
            <p>{{user.email}}</p>
          </div>
</div>
      </li>
    {{/each}}
  </ul>
</div>

